In [7]:
# using the insert function
my_list.insert(2, "apple")

In [8]:
my_list

[1, 2, 'apple', 3, 4, 5]

In [9]:
# using the delete function
del my_list[2]

In [10]:
my_list

[1, 2, 3, 4, 5]

In [3]:
# using the remove function
my_list = [1,2,3,1,2,3]
my_list.remove(1) # delete the first occurence of the input in the list
my_list

[2, 3, 1, 2, 3]

In [6]:
# using the pop function
my_list = [1,2,3,1,2,3]
print(my_list.pop(1)) # remove index 1 and return it
print(my_list)

2
[1, 3, 1, 2, 3]

In [5]:
# prompt the user input
num = int(input("number: "))

# put the factors in a list
lst = []
for i in range (1, num):
    if num % i == 0:
        lst.insert(-1, i)
        
# calculate the sum of objects inside the list
result = 0
for j in lst:
    result += j
    
# check if the result is equal to the num
print(num == result)

number: 6
True

In [1]:
lst = [1,2,3]
lst[0] = 4
lst

[4, 2, 3]

### list mutation

In [1]:
# using the += will not create a new list, like tuple did
# += will mutate it
lst = []
print(id(lst))
lst += [1]
print(id(lst))
print(lst)

2225076296256
2225076296256
[1]

In [4]:
# the same for extend and append
l = [1,2]
print(id(l))
l.append([3,4])
print(id(l))
print(l)

2225076583616
2225076583616
[1, 2, [3, 4]]

In [5]:
l = [1,2]
print(id(l))
l.extend([3,4])
print(id(l))
print(l)

2225076858112
2225076858112
[1, 2, 3, 4]

In [1]:
# using + on list will create a new list
l = [1,2]
print(id(l))
l = l + [3,4]
print(l)
print(id(l))

140664341713216
[1, 2, 3, 4]
140664341712768

In [1]:
# del and remove function will only mutate the list, not create a new one
l = [1,2,3]
print(id(l))
del l[0:2]
print(id(l))
l.remove(3)
print(id(l))
l

1852768995584
1852768995584
1852768995584

[]

In [5]:
# alias will only mutate the list
a = [1,2,3]
b = a 
print(id(a))
print(id(b))

1852769786752
1852769786752

In [3]:
# sort vs sorted
a = [4,2,3]
b = a 
a.sort()
print(a)
print(b)
print(id(a))
print(id(b))
# sort only mutates the list

[2, 3, 4]
[2, 3, 4]
140464641007552
140464641007552

In [10]:
a = [4,2,3]
b = a 
print(sorted(a))
print(b)
print(id(sorted(a)))
print(id(b))
# sorted makes a new list

[2, 3, 4]
[4, 2, 3]
1852769383424
1852769229504

In [13]:
# cloning
a = [1,2,3,4,5]
b = a[:]

print(id(a))
print(id(b))

b[1]= "banana"
print(a)
print(b)

1852769181312
1852769181120
[1, 2, 3, 4, 5]
[1, 'banana', 3, 4, 5]

### nested list

In [16]:
a = [1,2]
b = [3,4]
c = [1,a,b]
d = [a,c]

a[1] = "kevin"

print(a)
print(b)
print(c)
print(d)
# notice that all of the a[1] change to kevin

[1, 'kevin']
[3, 4]
[1, [1, 'kevin'], [3, 4]]
[[1, 'kevin'], [1, [1, 'kevin'], [3, 4]]]

In [17]:
a = [1,2]
b = [3,4]
c = [1,a,b]
d = [a,c]

a = [5,6] # create a new list

print(a)
print(b)
print(c)
print(d)
# notice that only the first one change into [5,6]

[5, 6]
[3, 4]
[1, [1, 2], [3, 4]]
[[1, 2], [1, [1, 2], [3, 4]]]

In [1]:
a = [1,2,[3,4]]
print(id(a))
b = a[:]
print(b)
print(id(b))

140358326276672
[1, 2, [3, 4]]
140358326483264

### mutation and iteration

In [22]:
def remove_duplicates(l1,l2):
    l1copy = l1[:]
    for e in l1copy:
        if e in l2:
            l1.remove(e)
            
l1 = [1,2,3,4]
l2 = [1,2,5,6]

remove_duplicates(l1,l2)
print(l1,l2)

[3, 4] [1, 2, 5, 6]

In [5]:
# note that if you dont make a copy of l1, this code will be a buggy (output not the same as what we expected)
def remove_duplicates(l1,l2):
    # l1copy = l1[:]
    for e in l1:
        print(e)
        if e in l2:
            l1.remove(e)
            # print(l1)
            
l1 = [1,2,3,4]
l2 = [1,2,5,6]

remove_duplicates(l1,l2)
print(l1,l2)

1
3
4
[2, 3, 4] [1, 2, 5, 6]

### list comprehension
* provide a concise way to create lists
* if consist of brackets containing an expression followed by a for clause, then zero or more for or if clauses
* the result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it
###### LIST COMPREHENSION IS A BIG STRENGTH OF PYTHON, YOU MUST MASTER IT

In [25]:
'''
[expression for item in list if conditional]

# the above code equals to:
for item in list:
    if conditional:
        expression
'''

'\n[expression for item in list if conditional]\n\n# the above code equals to:\nfor item in list:\n    if conditional:\n        expression\n'

In [27]:
[item for item in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
[item for item in range(10) if item%2 == 0]

[0, 2, 4, 6, 8]

In [29]:
[item**2 for item in range(10) if item%2 == 0]

[0, 4, 16, 36, 64]

In [3]:
import random
[random.randint(0,9) for _ in range(10)]
# in pyhton, we often use variable name _ for variables that we don't use again

[6, 1, 1, 3, 2, 5, 4, 1, 3, 0]

In [4]:
# difference between += + and , in list
l1 = [1,2,3]
l2 = [4,5,6]

print(id(l1))
l1 += l2
print(l1)
print(id(l1))
print('\n')
# += only mutate the lsit

l1 = [1,2,3]
l2 = [4,5,6]

print(id(l1))
l1 = l1 + l2
print(l1)
print(id(l1))
print('\n')
# + creates a new list

l1 = [1,2,3]
l2 = [4,5,6]

print(id(l1))
l1 = l1,l2
print(l1)
print(id(l1))
print('\n')

140218750904832
[1, 2, 3, 4, 5, 6]
140218750904832


140219012385024
[1, 2, 3, 4, 5, 6]
140218750905792


140219012385024
([1, 2, 3], [4, 5, 6])
140218750544128