In [1]:
# docs.python.org --> to see all built in functions documentations

In [2]:
# built in functions are always available

# ABS
## absolute value
return the absolute value of an integer or a float
if the argument is a complex number, the magnitude is returned

In [3]:
abs(-43)

43

In [4]:
x = complex(3,4)
abs(x)

5.0

# SUM
# sum(iterable [,start])
sums start and the items of an iterable from left to right and returns the total. start defaults to 0.

The iterable's items are normally numbers (but can be list, tuple, range, str)

The start value is not allowed to be a string

In [2]:
sum([1,2,3,4])

10

In [6]:
sum(range(10))

45

# SORTED
## sorted(iterable, *, key = None, reverse = False)
return a new sorted list from the items in iterable

In [13]:
sorted('centennial')

['a', 'c', 'e', 'e', 'i', 'l', 'n', 'n', 'n', 't']

In [3]:
# remember that sorted makes a new list

# ALL
Returns true if all the elements of a given iterable( List, Dictionary, Tuple, set, etc) are True else it returns False.

It also returns True if the iterable object is empty.

In [11]:
# All elements of list are false
l = [0, 0, False]
print(all(l))

False

In [10]:
# All elements of tuple are true
t = (2, 4, 6)
print(all(t))

True

In [8]:
# All elements of dictionary are true
d = {1: "Hello", 2: "Hi"}
print(all(d))

True

In [9]:
# All elements of set are false
s = {0, 0, False}
print(all(s))

False

In [3]:
# Empty string, dict, tuple, list
l = ''
print(all(l))

l = {}
print(all(l))

l = ()
print(all(l))

l = []
print(all(l))

True
True
True
True

# ANY
returns True if any item in an iterable are true, otherwise it returns False.

If the iterable object is empty, the any() function will return False.

In [14]:
mytuple = (0, 1, False)
x = any(mytuple)
print(x)

True

In [9]:
myset = {0, 2, 0}
x = any(myset)
print(x)

True

In [16]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

# BIN
Python bin() function returns the binary string of a given integer.

Syntax:  bin(a)

Parameters : a : an integer to convert

Return Value : A binary string of an integer or int object.

Exceptions : Raises TypeError when a float value is sent in arguments.

In [17]:
# declare variable
num = 100
 
# print binary number
print(bin(num))

0b1100100

In [18]:
print(bin(10))

0b1010

In [19]:
print(bin(11))

0b1011

In [1]:
print(bin(99))

0b1100011

# DIVMOD
The divmod() method in python takes two numbers and returns a pair of numbers consisting of their quotient and remainder.

In [22]:
a, b = 10, 8
print(divmod(a, b))

(1, 2)

# EVAL
## eval(expression, globals, locals)
eval function evaluates the “String” like a python expression and returns the result as an integer

In [1]:
x = 'print(55)'
eval(x)
## or
print(eval('55'))

55
55

In [23]:
x = '42'
print(eval(x+'1'))

421

In [24]:
x = '42'
print(eval(x+'+1'))

43

# zip
combines lists (can be multiple) into a tuple

In [33]:
lst1 = [1,2,3,4]
lst2 = ["a","b","c","d"]
lst3 = ["x","y",'z']

for items in zip(lst1,lst2,lst3):
    print(items)

(1, 'a', 'x')
(2, 'b', 'y')
(3, 'c', 'z')

In [34]:
print(list(zip([1, 4, 6], [2, 3, 4])))

[(1, 2), (4, 3), (6, 4)]

# FILTER
The filter() function extracts elements from an iterable (list, tuple etc.) for which a function returns True

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# returns True if number is even
def check_even(number):
    if number % 2 == 0:
          return True  

    return False

# Extract elements from the numbers list for which check_even() returns True
even_numbers_iterator = filter(check_even, numbers)

# converting to list
even_numbers = list(even_numbers_iterator)

print(even_numbers)

<filter object at 0x7f9910aa2a30>
[2, 4, 6, 8, 10]

In [28]:
def f(x):
    return x>1 and x<4
print(list(filter(f, range(5))))

[2, 3]

# MAP
The filter() function extracts elements from an iterable (list, tuple etc.) for which a function returns True

In [15]:
def f(x):
    return x+2
x = map(f, range(5))
print(list(x))

[2, 3, 4, 5, 6]

# POW
The pow() function returns the value of x to the power of y (x^y).

In [19]:
print(pow(3, 2))

9

# REVERSED

In [18]:
for i in reversed("kevin"):
    print(i, end = ' ')

n i v e k