# divide and conquer
* a good way to design a program is to BREAK DOWN the task into few SUB-TASKS
* each sub-task can be further decomposed into smaller sub tasks and this process is repeated until all sub-tasks are small enough that their implementations become manageable
* a powerful problem solving skill in all majors
* DO PLANNING (think about the input and output), we udentify the
1. input(s) - translates function arguments / parameters
2. the objective of the sub-task (but not the process of how the task is done)
3. output(s) - return statement

In [8]:
# bmi
# first step: read in height and weight of user
def calculate_bmi(height,weight):
# second step: calculate the BMI
    bmi = weight / (height*height)
# third step output the category based on the BMI
    return bmi

# The main() function
a good programming practice

starting logic to go on and call other function as needed

In [11]:
def main():
    height = float(input('height: '))
    weight = float(input('weight: '))
    bmi = calculate_bmi(height,weight)
    print(print('The BMI Value is:', bmi))

In [12]:
main()

height: 1.75
weight: 70
The BMI Value is: 22.857142857142858
None

# local vs global variable
PRIVATE/LOCAL
* variable declared within a function, including input arguments, are private or local to that particular function, i.e. no other function can have direct access to them
* local variables in a function come into existence only when the function is called, and disappear when the function is ended / returned
* local variables declared within the same function must have unique names, whereas local variables of different functions may use the same name

GLOBAL
* variables declared outside all functions that can be accessed by all functions
* remain in existence permanently - retain their values even after the functions that set them habe returned
* the values of global variables can be changed by several functions
* SELDOMLY USED BY PROFESSIONAL PROGRAMMERS as it can be modified by many functions and is very hard to trace

# return
* only get the value and copying back to the function callers
* if a function returns a value then a call to such a function can be used as an operand in any expression on the program
* if an immutable object has to be updated in a function, we will use return statement to rturn the updated value back to the function caller and update the original variable
* to return multiple values from a function, just specify each value seperated by comma(,) after return keyword
* functions can return None

# global keyword

In [17]:
# global keyword
bmi = 0
def calculate_bmi (height, weight):
    global bmi
    bmi = weight / (height**2)
    
print(bmi)
      
calculate_bmi(1.75, 70)
print(bmi)

0
22.857142857142858

In [18]:
# another ex
n = 100
def f1():
    n= 10
def f2():
    print(n)
    
f1()
f2()

100

In [19]:
n = 100
def f1():
    global n 
    n= 10
def f2():
    print(n)
    
f1()
f2()

10

In [31]:
# default, positional, and keyword argument
# DEFAULT
def calculate_bmi(height = 1.75, weight = 70):
    bmi = weight / (height**2)
    return bmi

def main():
    bmi = calculate_bmi()
    print(bmi)
main()

22.857142857142858

In [2]:
## note that default arguments are evaluated at definition time, not funciton run time
import datetime

def greeting(time = datetime.datetime.now()):
    print(time)
    
def main():
    for i in range(5):
        greeting()

main() # realize that the time is always constant, not like what we wanted

2021-12-07 14:46:22.597377
2021-12-07 14:46:22.597377
2021-12-07 14:46:22.597377
2021-12-07 14:46:22.597377
2021-12-07 14:46:22.597377

In [3]:
def greeting(time = None):
    if time == None:
        time = datetime.datetime.now()
    print(time)
    
def main():
    for i in range(5):
        greeting()

main()

2021-12-07 14:46:22.998222
2021-12-07 14:46:22.998512
2021-12-07 14:46:22.998543
2021-12-07 14:46:22.998573
2021-12-07 14:46:22.998600

In [34]:
# another ex:
def student(name,uid,faculty= 'Engineering', dpt= 'computer science'):
    print('Student', uid, name, "from", faculty,dpt)
    
def main():
    student("Kit", 1234325)
    student("Ben", 210341234, None, "CE")
    student("Marry", 20341234, "Science", "Mathematics")
main()
# realize that ben has strange output

Student 1234325 Kit from Engineering computer science
Student 210341234 Ben from None CE
Student 20341234 Marry from Science Mathematics

In [35]:
def student(name,uid,faculty= None, dpt= None):
    if faculty == None:
        faculty = "Engineering"
    if dpt == None:
        dpt = "Computer Science"
    print('Student', uid, name, "from", faculty,dpt)
    
def main():
    student("Kit", 1234325)
    student("Ben", 210341234, None, "CE")
    student("Marry", 20341234, "Science", "Mathematics")
main()

Student 1234325 Kit from Engineering Computer Science
Student 210341234 Ben from Engineering CE
Student 20341234 Marry from Science Mathematics

In [39]:
#keyword argument
## when calling a function, we can also associate the argument name and the value instead of following the order of the arguments

def calculate_bmi(height, weight):
    bmi = weight / (height**2)
    return bmi

def main():
    bmi = calculate_bmi(weight = 70, height = 1.75) # relaize the order is reversed but it still can work
    print(bmi)
    
main()

22.857142857142858

In [43]:
# mixing positional and keyword argument
# positional arguments cannot follow keyowrd arguments
def student(name,uid,faculty= None, dpt= None):
    if faculty == None:
        faculty = "Engineering"
    if dpt == None:
        dpt = "Computer Science"
    print('Student', uid, name, "from", faculty,dpt)

def main():
    student(name = "Kate", 2018555, None, None)
    
main()

SyntaxError: positional argument follows keyword argument (<ipython-input-43-1f5b5a78a830>, line 11)

In [44]:
# but keyword argunent can follow positional argument
def main():
    student("Justin", dpt = 'Actuarial Science', faculty="science", uid = 2018444)
main()

Student 2018444 Justin from science Actuarial Science

# PASSING IMMUTABLE & MUTABLE OBJECTS
## mutable and imutable

In [45]:
#variable, object, value, and reference
a = 10 
# a is a variable
# 10 is an int object
# with the (=) sign, the variable (a) references to an int object, that has a value (10)

In [50]:
# verify int immutability
def main():
    n = 1
    print('n', id(n), n)
    n = 2
    print('n', id(n), n)
    m = n
    print('m', id(m), m) # alias
    m = 3
    print('m', id(m), m)
main()

n 4333218144 1
n 4333218176 2
m 4333218176 2
m 4333218208 3

In [56]:
# verify str immutability
def main():
    a = 'Kit'
    print('a', id(a),a)
    b = 'Kit'
    print('b', id(b), b)
    a = 'Kitty'
    print('a', id(a),a)
    a = a+b
    print('a', id(a),a)
    a += b
    print('a', id(a),a)
main()

a 140300354057008 Kit
b 140300354057008 Kit
a 140300354059888 Kitty
a 140300347229168 KittyKit
a 140300354037360 KittyKitKit

In [58]:
# verify list mutability
def main():
    a = [1,2,3]
    print('a', id(a), a)
    a[0] = 4
    print('a', id(a), a)
    b = a
    print('b', id(b), b)
    b[2] = 5
    print('a', id(a), a)
    print('b', id(b), b)
    b = [4,2,5]
    print('a', id(a), a)
    print('b', id(b), b) # new list obj
main()

a 140300354870848 [1, 2, 3]
a 140300354870848 [4, 2, 3]
b 140300354870848 [4, 2, 3]
a 140300354870848 [4, 2, 5]
b 140300354870848 [4, 2, 5]
a 140300354870848 [4, 2, 5]
b 140300348306944 [4, 2, 5]

In [61]:
# verify tuple immutability
def main():
    a = (1,2,3)
    print('a', id(a), a)
    a[0] = 4
    
main()

a 140300352764544 (1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [64]:
#passing immutable objects in function
def update(n):
    print('in update(): n before +=', id(n), n)
    n += 20
    print('in update(): n after +=',id(n), n)
def main():
    n = 10
    print('in main(): n before update', id(n), n)
    update(n)
    print("in main(): n after update", id(n), n)
    
main()

in main(): n before update 4333218432 10
in update(): n before += 4333218432 10
in update(): n after += 4333219072 30
in main(): n after update 4333218432 10

In [67]:
# updating an immutable object using return statement
def salary_adjust(sal):
    sal *= 1.05
    return sal
def main():
    salary = 2000
    print("the original salary is", salary)
    salary = salary_adjust(salary)
    print('the new salary is', salary)
    
main()

the original salary is 2000
the new salary is 2100.0

In [69]:
# updating a mutable object (without return statement)(we call it in-place update)
def update(n):
    print(id(n),n)
    n.append(3)
    print(id(n),n)
    
def main():
    n = [1,2]
    print(id(n),n)
    update(n)
    print(id(n),n)
    
main()

140300347682240 [1, 2]
140300347682240 [1, 2]
140300347682240 [1, 2, 3]
140300347682240 [1, 2, 3]

In [71]:
def update(n):
    print(id(n),n)
    n.extend([3,4])
    print(id(n),n)
    
def main():
    n = [1,2]
    print(id(n),n)
    update(n)
    print(id(n),n)
    
main()

140300355129792 [1, 2]
140300355129792 [1, 2]
140300355129792 [1, 2, 3, 4]
140300355129792 [1, 2, 3, 4]

In [6]:
def update(n):
    print(id(n),n)
    n.append([3,4])
    print(id(n),n)
    
def main():
    n = [1,2]
    print(id(n),n)
    update(n)
    print(id(n),n)
    
main()

140206006330368 [1, 2]
140206006330368 [1, 2]
140206006330368 [1, 2, [3, 4]]
140206006330368 [1, 2, [3, 4]]

In [73]:
def update(n): # NOT IN-PLACE UPDATE
    print(id(n),n)
    n=n+[3,4]
    print(id(n),n)
    
def main():
    n = [1,2]
    print(id(n),n)
    update(n)
    print(id(n),n)
    
main()

140300357138624 [1, 2]
140300357138624 [1, 2]
140300357139328 [1, 2, 3, 4]
140300357138624 [1, 2]

In [10]:
def rename(t, oldname, newname):
    print('in rename(): t before' , id(t),t)
    for i,name in enumerate(t):
        if name == oldname:
            t[i] = newname
    print('in rename(): t after', id(t),t)
    
def main():
    team = ['Kitty','Dirk', 'Kevin']
    print('in main(): team before', id(team), team)
    rename(team, 'Kitty', 'Kit')
    print('in main(): team after', id(team), team)
main()

in main(): team before 140206005988544 ['Kitty', 'Dirk', 'Kevin']
in rename(): t before 140206005988544 ['Kitty', 'Dirk', 'Kevin']
in rename(): t after 140206005988544 ['Kit', 'Dirk', 'Kevin']
in main(): team after 140206005988544 ['Kit', 'Dirk', 'Kevin']

# SUMMARY
passing immutable objects (int, float, bool, str, tuple) to function, even the object is updated in function, the original object will not be updated
* however, you need to, RETURN the updated object back to function caller and update the original object in the function caller
passing mutable objects (list,set, dict) to function, if the object is in-place updated in function, the original object will also be updated

In [78]:
# checkpoint
def raisesalary(sal,percentage = 1.1):
    print('in raisesalary(): sal before', id(sal), sal)
    for s in sal:
        s *= percentage
    print('in raisesalary(): sal after', id(sal), sal)
    
def main():
    salary = [10000,20000,30000]
    print('in main(): salary before', id(salary), salary)
    raisesalary(salary)
    print('in main(): salart after', id(salary), salary)
    
main() # realize that the output is not as we wanted

in main(): salary before 140300353088704 [10000, 20000, 30000]
in raisesalary(): sal before 140300353088704 [10000, 20000, 30000]
in raisesalary(): sal after 140300353088704 [10000, 20000, 30000]
in main(): salart after 140300353088704 [10000, 20000, 30000]

In [79]:
# checkpoint
def raisesalary(sal,percentage = 1.1):
    print('in raisesalary(): sal before', id(sal), sal)
    for i,s in enumerate(sal):
        sal[i] *= percentage
    print('in raisesalary(): sal after', id(sal), sal)
    
def main():
    salary = [10000,20000,30000]
    print('in main(): salary before', id(salary), salary)
    raisesalary(salary)
    print('in main(): salart after', id(salary), salary)
    
main()

in main(): salary before 140300355024384 [10000, 20000, 30000]
in raisesalary(): sal before 140300355024384 [10000, 20000, 30000]
in raisesalary(): sal after 140300355024384 [11000.0, 22000.0, 33000.0]
in main(): salart after 140300355024384 [11000.0, 22000.0, 33000.0]